/** se remover o fixed, 
    remover match 1 1 e reduzir em 4 cada match */    
.round .match-1-1{
    /* margin-top:7em; */
}

/**  round 2 step 20em */
.round .match-2-1{
    margin-top:7em;
}

.round .match-2-2{
    margin-top:27em; 
  }

.round .match-2-3{
    margin-top:47em; 
}

.round .match-2-4{
    margin-top:67em; 
}

.round .match-2-5{
    margin-top:87em; 
}

.round .match-2-6{
    margin-top:107em; 
}

.round .match-2-7{
    margin-top:127em; 
}

.round .match-2-8{
    margin-top:147em; 
}

/** round 3 step 40em*/
.round .match-3-1{
	margin-top:17em	
}
.round .match-3-2{
	margin-top:57em	
}
.round .match-3-3{
	margin-top:97em	
}
.round .match-3-4{
	margin-top:137em	
}

/** round 4 step 80*/
.round .match-4-1{
	margin-top:37em
}
.round .match-4-2{
	margin-top:117em
}
/** round 5 step */
.round .match-5-1{
	margin-top:77em
}





